<%= form_tag 'books#index', :method => 'get', :class => 'well form-search' do %>
  Title: <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
  Author: <%= text_field_tag :author, params[:author], :class => 'input-medium search-query' %>
  Summary: <%= text_field_tag :summary, params[:summary], :class => 'input-medium search-query' %>
  <%= submit_tag "Search", :name => nil, :class => 'btn' %> 
<% end %> 

<form class="well form-search">
  <h2>Recent books</h2>
    <ul>
      <% @recent_books.each do |book| %>
      <li>
        <%= truncate(book.get_title) %> by <%= book.get_author %>
        <%= link_to 'Download', download_book_path(book), :class => 'label label-success'%>
      </li>
      <% end %>
  </ul>

  <h2>Search Results</h2>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Summary</th>
      <th>Link</th>
    </tr>

    <% @books.each do |book| %>
      <tr>
        <td><%= truncate(book.get_title, :length => 40) %></td>
        <td>
          <% book.authors.each do |author| %>
            <%= link_to author.name, author_path(author) %>, 
          <% end %>
        </td>
        <td><%= book.get_summary %></td>
        <td><%= link_to 'Get', download_book_path(book) %></td>
      </tr>
    <% end %>
  </table>
</form>